body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for the FavoritesList component */
div {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

/* Styles for each favorite item */
div > div {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

p {
  margin: 0;
  padding: 5px 0;
}

button {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 14px;
}

button:hover {
  opacity: 0.8;
}

/*student dashboard*/

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}



/*home page*/


/*Sign up*/
.place-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*end of sign up*/
/* App.css */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.home h1 {
  text-align: center; /* Center the text horizontally */
}


/*end of Long Nguyen task*/


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style the "Delete" button */
button[style='background-color: red;'] {
  background-color: red;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
