/* Update.css */

.tutor-profile {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tutor {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  gap: 20px; /* Increased the gap between lines to 20px */
}

.info-label {
  padding: 10px;
  font-weight: bold;
  color: #1a1b1b;
}

.tutor-info {
  color: black; /* Changed text color to black */
}

.action-buttons {
  display: flex;
  justify-content: flex-start; /* Moved the update button to the left */
  margin-top: 20px;
}

.update {
  padding: 10px 20px;
  background-color: #909397;
  color: #b9b1b1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.update:hover {
  background-color: #abc7e4;
}
